<app-header></app-header>
<body>
<div class="row" style="margin: 0; opacity: 100%">
  <div class="col-md-2">
    <div style="height: 90px; background-color: #34ce57"></div>
    <mat-action-list *ngFor="let productType of productTypes">
          <button mat-list-item (click)="getProductsByType(productType)">{{productType}}</button>
    </mat-action-list>
  </div>
  <div class="col-md-7" style="background-color: #abdde5">
    <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" paginatorPosition="bottom" filterBy="name"
                [sortField]="sortField" [sortOrder]="sortOrder" currentPageReportTemplate="gridItem" layout="grid" [alwaysShowPaginator]="false">
      <p-header>
        <div class="ui-helper-clearfix" style="max-height: 50px">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
              <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
                          (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-4 filter-container">

            </div>
            <div class="ui-g-6 ui-md-4" style="text-align:right">
              <div style="position:relative">
                <form class="form-inline">
                  <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search by name"
                           (keyup)="dv.filter($event.target.value)">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </p-header>
      <ng-template let-product pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-4">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{product.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/img/{{product?.image}}" onError="this.src = 'assets/img/not-found.jpg'"
                 alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>More</button>
              <button mat-button (click)="addProductToSet(product)">Add to Set</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-template>
            <ng-template let-product pTemplate="listItem">
              <div class="ui-g-12">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>{{product.name}}</mat-card-title>
                  </mat-card-header>
                  <img mat-card-image src="assets/img/{{product?.image}}" onError="this.src = 'assets/img/not-found.jpg'"
                       alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button (click)="addProductToSet(product)">Add to Set</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </ng-template>
    </p-dataView>
  </div>
  <div class="col-md-3" style="background-color: #34ce57">
    <div *ngIf="isUser() && isCustomer()" >
      <mat-card style="position: fixed; margin-top: 30px; width:23%">
        <mat-card-header>
          <mat-card-title>Product Sets</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let set of userSets">

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{set.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{set.description}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="example-chip-list" style="width: 100%">
              <mat-chip-list #chipList aria-label="selection lol">
                <mat-chip *ngFor="let productDetail of set.productsDetails" [selectable]="selectable"
                          [removable]="removable" (removed)="remove(set.id,productDetail.id)">
                  {{productDetail.product.name}}

                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-card-content>
        <mat-card-actions >
          <button mat-button>Create New</button>
        </mat-card-actions>
      </mat-card>

    </div>




    <div *ngIf="!isUser()">
      <h2>My Set</h2>
      To create set you need firstly to LogIn
    </div>


  </div>
</div>
<app-footer></app-footer>
</body>

