.example-card {
  max-width: 30%;
  margin: 1.6%;
}

.setDetails{
  margin-right: 5%;
}

.background {
  background-image: url(../../assets/img/repeated.jpg);
  background-repeat: repeat;
}

.hero--overlay {
  background-color: rgba(0, 0, 0, 0.68);
  width: 100%;
  position: absolute!important;
  height: 100%;
}
