<link href="//db.onlinewebfonts.com/c/1919591633672e1395dfbee0aaf422ce?family=Foco" rel="stylesheet" type="text/css"/>
<app-header></app-header>
<body>
<div class = "bg">
  <div class="hero--overlay">
    <div class="container">
      <div class="row">
        <div style="width: 200px"></div>
        <h1 style="margin-top: 5%;color: white; font-size: 63px; font-family:Impact,Foco,Times-Roman;">
          <p>Що таке Калорії та для чого вони пoтрібні</p></h1>
        <div class="hero--overlay--two">
          <p style="font-size: 22px;color: white">Калорії - це кількість тієї енергії, яку ми одержуємо з продуктів і повинні обов`язково утилізувати, адже, якщо баланс між надходженням і витратою не буде дотриманий, людина неодмінно почне товстішати.
          Що тоді дійсно важливо?
          </p>
          <ul style="font-size: 22px;color: white">
            <li>Склад страв: самі інгредієнти та їхнє поєднання;</li>
            <li>Якість продуктів;</li>
            <li>Спосіб приготування: важливо розуміти, як готувати навіть корисні інгредієнти, адже будь-який продукт за неправильної обробки можна перетворити на отруту;</li>
            <li>Час прийомів їжі: тваринний білок на вечерю – це велике навантаження для травної системи.</li>
          </ul>
          <p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="simple-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url(../../assets/img/1456390262182626241.jpg);"></div>
      <div class="swiper-slide" style="background-image:url(https://cdn.bootstrapstudio.io/placeholders/1400x800.png);"></div>
      <div class="swiper-slide" style="background-image:url(https://cdn.bootstrapstudio.io/placeholders/1400x800.png);"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<app-footer></app-footer>
</body>
