  <app-header></app-header>
<body>
<div class = "bg">
  <div>
    <div class="container">
      <div class="row">
        <div style="width: 370px"></div>
        <h1 style="position: center">Title about calories</h1>
        <div>
          RandomText is a tool designers and developers can use to quickly grab dummy text in either Lorem Ipsum or Gibberish format.

          There are a number of features that make RandomText a little different from other Lorem Ipsum dummy text generators you may find around the web....

          Grab HTML or just plain text - even save generated text as files:
          Don't waste time copying text and then more time marking it up in HTML manually, just hit View HTML Code and then Copy to Clipboard!

          Use the address bar to create a query:

          RandomText is a tool designers and developers can use to quickly grab dummy text in either Lorem Ipsum or Gibberish format.

          There are a number of features that make RandomText a little different from other Lorem Ipsum dummy text generators you may find around the web....

          Grab HTML or just plain text - even save generated text as files:
          Don't waste time copying text and then more time marking it up in HTML manually, just hit View HTML Code and then Copy to Clipboard!

          Use the address bar to create a query:
          RandomText is a tool designers and developers can use to quickly grab dummy text in either Lorem Ipsum or Gibberish format.

          There are a number of features that make RandomText a little different from other Lorem Ipsum dummy text generators you may find around the web....

          Grab HTML or just plain text - even save generated text as files:
          Don't waste time copying text and then more time marking it up in HTML manually, just hit View HTML Code and then Copy to Clipboard!

          Use the address bar to create a query:
        </div>
      </div>
    </div>
  </div>
</div>
<div class="simple-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url(../../assets/img/1456390262182626241.jpg);"></div>
      <div class="swiper-slide" style="background-image:url(https://cdn.bootstrapstudio.io/placeholders/1400x800.png);"></div>
      <div class="swiper-slide" style="background-image:url(https://cdn.bootstrapstudio.io/placeholders/1400x800.png);"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<div class="contact-clean">
  <form method="post">
    <h2 class="text-center">Contact us</h2>
    <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
    <div class="form-group"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger">Please enter a correct email address.</small></div>
    <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
    <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
  </form>
</div>
<app-footer></app-footer>
</body>
